// // Breakpoints
// $bp-max: 125em; // 2000px
// $bp-largest: 87.5em; // 1400px
// $bp-large: 68.75em; // 1100px
// $bp-medium: 62.5em; // 1000px
// $bp-small: 50em; // 800px
// $bp-smaller: 40.625em; // 650px
// $bp-smallest: 31.25em; // 500px

// CSS Variables

:root {
  --default-font-family: "Lato", sans-serif;

  --color-cerulean: #4484ce;
  --color-aluminium: #d9d9d9d9;
  --color-light: #f9cf00;
  --color-tangerine: #f19f40;
  --color-near-black: #0e1318;
  --color-off-white: #faf9f6;
}

// Reset

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--default-font-family);
  color: var(--color-near-black);
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  font: inherit;
  background: none;
}
