.section {
  max-height: 100vh;

  padding: 1rem 1rem;
}

.flex-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.white-section {
  background-color: var(--color-off-white);
}

.blue-section {
  background-color: var(--color-cerulean);
}

.section-white-top {
  height: 5rem;
  width: 100%;
  background: linear-gradient(to left bottom, #faf9f6 49%, #4484ce 50%);
}

.section-blue-top {
  height: 5rem;
  width: 100%;
  background: linear-gradient(to right top, #faf9f6 49%, #4484ce 50%);
}

.section-skew-both {
}
