p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 1.5rem;
  color: #ffffff;
}

.main-heading {
  position: relative;

  width: 100vw;

  padding: 1.5rem 0;
  margin-bottom: 1.5rem;

  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    height: 100%;
    width: 100%;

    transform: translate(-50%, -50%);

    background-color: #000000;
    opacity: 0.3;
  }
}

.sub-heading {
  position: relative;

  width: 100%;

  text-align: center;
  font-size: 1.75rem;

  &--white {
    color: #ffffff;
  }

  &::after {
    content: "-------- M&J --------";

    position: absolute;
    top: 2.5rem;
    left: 50%;

    transform: translateX(-50%);

    font-weight: 500;
    font-size: 1rem;
    color: var(--color-tangerine);
  }
}

.span-text {
  font-size: 1.5rem;
}

.text-blurb {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 2.5rem 0;
  padding: 1rem;
}
